body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.highlight {
    color: green;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 65%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(green, yellow);
    color: brown;
    font-weight: 900;
    padding: 10px 40px;
    border-radius: 7px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 120px;
}

.experience-arena {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.developer-experience {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 30px green;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
}

#full-stack {
    border-left: 10px solid rgb(0, 32, 0);
}

#baby {
    border-left: 10px solid rgb(28, 92, 28);
}

footer p {
    text-align: center;
}